/*About Container*/

.about-container{
    background-color:#1e2326;
    margin:0;
    padding:0;
    z-index: 1;
  }
  
  .about-head h3{
    font-size:50px;
    color: rgb(66, 215, 235);
    text-align: center;
    font-weight: bolder;    
    padding:20px;
  }
  .about-img{
    height:300px;
    width:300px;
    border-radius: 3rem 3rem 3rem 3rem;
    border:3px solid #1c2022;
    box-shadow: 0 0 15px #1cb698;
    display: flex;
    flex-wrap: wrap;
  }
  .about-first{
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .namecolor{
    color: rgb(66, 215, 235);
    font-weight: bold;
  }
  .font{
    font-size:20px;
    color:white;
    font-weight: 500 !important;
  }
  p{
    font-size: 20px;
    color:white;
  }