/*contact Container*/

.contact-container{
    background-color:#1e2326;
    margin:0;
    padding:0;
  }
  .contact-head h3{
    font-size:50px;
    color: rgb(66, 215, 235);
    text-align: center;
    font-weight: bolder;    
    padding:20px;
  }
  .contact-head{
  color: #00bfff;
  text-align: center;
  } 
  .input-text-container input{
  background-color: #1c2022;
  border-radius: 5rem 5rem;

  }
  .input-text-container textarea{
    background-color: #1c2022;
    border-radius: 5rem 5rem;

    }
  .input-text-container input:hover{
  border: 3px solid #09eec0;
  }
  .input-text-container textarea:hover{
    border: 3px solid #09eec0;
  }
    
  
  .icons-below a{
    border:1px solid transparent;
    margin-left:20px;
  }
  
  .icons-below a:hover{
    background-color: black;
    transform: scale(1.1,1.1);
    border-radius: 5rem 5rem;

  }
  .icons-below{
    display:flex;
    justify-content: center !important;
    align-items: center !important;
  }

  .sendmsg-btn{
    border-radius: 5rem 5rem;
    font-weight: 600 !important;
  }